<div class="about">
  <div class="aboutHelper">
      <img class="aboutImg" src="../../assets/galeria/1.jpg" alt="aboutImg1"/>

      <div class="aboutContent">
        <h2 class="aboutContent-title colorAccent">O FIRMIE</h2>

        <p class="aboutContent-description">Firma USŁUGI BUDOWLANE PIOTR KASPERCZYK z&nbsp;powodzeniem świadczy usługi budowlane dla osób prywatnych jak i dla firm. Zajmujemy się budową domów oraz kompleksowymi remontami domów i&nbsp;mieszkań. Współpracujemy z biurami projektowymi, pomagamy w przygotowaniu dokumentacji i&nbsp;uzyskaniu pozwoleń. Jesteśmy terminowi i rzetelni w&nbsp;wykonywanych przez nas zadaniach.</p>

        <div class="aboutContentDecoration">
          <div class="aboutContentDecoration-rectangle"></div>

          <div class="aboutContentDecoration-pair">
            <svg class="aboutContentDecoration-pairSvg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d_734_676)">
              <path d="M15.7005 2.59246C14.539 1.81695 13.0982 1.33661 11.5826 1.33661C7.61157 1.33661 4.38174 4.46093 4.38174 8.30229C4.38174 12.1436 7.61157 15.268 11.5826 15.268C15.5537 15.268 18.7835 12.1436 18.7835 8.30229H20.1653C20.1653 12.8871 16.3223 16.6046 11.5826 16.6046C6.84298 16.6046 3 12.8871 3 8.30229C3 3.71744 6.84298 0 11.5826 0C13.9532 0 16.0978 0.928664 17.6508 2.43096L11.5826 11.4823L8.29237 6.58001H10.093L11.5841 8.81047C11.5841 8.81047 13.923 5.24479 15.702 2.59107" fill="#398EE0"/>
              </g>
              <defs>
              <filter id="filter0_d_734_676" x="0" y="0" width="23.1653" height="23.6045" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="4"/>
              <feGaussianBlur stdDeviation="1.5"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.19 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_734_676"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_734_676" result="shape"/>
              </filter>
              </defs>
            </svg>

            <h3 class="aboutContentDecoration-pairWord">JAKOŚĆ</h3>
          </div>

          <div class="aboutContentDecoration-pair">
            <svg class="aboutContentDecoration-pairSvg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d_734_676)">
              <path d="M15.7005 2.59246C14.539 1.81695 13.0982 1.33661 11.5826 1.33661C7.61157 1.33661 4.38174 4.46093 4.38174 8.30229C4.38174 12.1436 7.61157 15.268 11.5826 15.268C15.5537 15.268 18.7835 12.1436 18.7835 8.30229H20.1653C20.1653 12.8871 16.3223 16.6046 11.5826 16.6046C6.84298 16.6046 3 12.8871 3 8.30229C3 3.71744 6.84298 0 11.5826 0C13.9532 0 16.0978 0.928664 17.6508 2.43096L11.5826 11.4823L8.29237 6.58001H10.093L11.5841 8.81047C11.5841 8.81047 13.923 5.24479 15.702 2.59107" fill="#398EE0"/>
              </g>
              <defs>
              <filter id="filter0_d_734_676" x="0" y="0" width="23.1653" height="23.6045" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="4"/>
              <feGaussianBlur stdDeviation="1.5"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.19 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_734_676"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_734_676" result="shape"/>
              </filter>
              </defs>
            </svg>

            <h3 class="aboutContentDecoration-pairWord">DOŚWIADCZENIE</h3>
          </div>

          <div class="aboutContentDecoration-pair">
            <svg class="aboutContentDecoration-pairSvg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d_734_676)">
              <path d="M15.7005 2.59246C14.539 1.81695 13.0982 1.33661 11.5826 1.33661C7.61157 1.33661 4.38174 4.46093 4.38174 8.30229C4.38174 12.1436 7.61157 15.268 11.5826 15.268C15.5537 15.268 18.7835 12.1436 18.7835 8.30229H20.1653C20.1653 12.8871 16.3223 16.6046 11.5826 16.6046C6.84298 16.6046 3 12.8871 3 8.30229C3 3.71744 6.84298 0 11.5826 0C13.9532 0 16.0978 0.928664 17.6508 2.43096L11.5826 11.4823L8.29237 6.58001H10.093L11.5841 8.81047C11.5841 8.81047 13.923 5.24479 15.702 2.59107" fill="#398EE0"/>
              </g>
              <defs>
              <filter id="filter0_d_734_676" x="0" y="0" width="23.1653" height="23.6045" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="4"/>
              <feGaussianBlur stdDeviation="1.5"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.19 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_734_676"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_734_676" result="shape"/>
              </filter>
              </defs>
            </svg>

            <h3 class="aboutContentDecoration-pairWord">TERMINOWOŚĆ</h3>
          </div>
        </div>

        <p class="aboutContent-contact">Jeżeli macie pytania odnośnie naszej oferty lub<br>jesteście zainteresowani nawiązaniem współpracy,<br>serdecznie zapraszamy do <span (click)="scrollToContact()" class="colorAccent" ><b>kontaktu</b>!</span></p>
      </div>
  </div>
</div>
