.nav {
  width: 100vw;

  background-color: #444645;
}
.navCompany {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.navCompanyMiddle-upperTitle {
  margin: 0.1vw 0;
  font-family: 'Quando', serif;
}
.navCompanyMiddle-lowerTitle {
  margin: 0.2vw 0;
  font-family: 'Quando', serif;
}

@media screen and (max-width: 776px) {
  .nav {
    height: clamp(min(51.33px), 24.44vw, max(189.69px));
  }

  .navContact {
    display: none;
  }

  .navCompanyMiddle {
    margin-top: 2vw;
  }
  .navCompanyMiddle-logo {
    display: flex;
    margin: auto;

    width: clamp(min(39.67px), 18.89vw, max(146.58px));
    height: clamp(min(18.17px), 8.65vw, max(67.12px));
  }
  .navCompanyMiddle-upperTitle {
    font-size: clamp(min(10.00px), 3.33vw, max(25.87px));
  }
  .navCompanyMiddle-lowerTitle {
    font-size: clamp(min(10.00px), 3.33vw, max(25.87px));
  }

  .navCompanyMenu {
    position: absolute;
    right: 10vw;
    margin-top: 2.6vw;
  }
  .navCompanyMenu-button {
    width: clamp(min(20.7px), 4.44vw, max(34.49px));
    height: clamp(min(15.5px), 3.33vw, max(25.87px));

    background-color: #444645;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1.25' x2='16' y2='1.25' stroke='%2380A3C3' stroke-width='1.5'/%3E%3Cline y1='6.25' x2='16' y2='6.25' stroke='%2380A3C3' stroke-width='1.5'/%3E%3Cline y1='11.25' x2='16' y2='11.25' stroke='%2380A3C3' stroke-width='1.5'/%3E%3C/svg%3E%0A");
    background-size: contain;
    border: none;
  }
  .navCompanyMenu-elements {
    display: none;
    /* visibility: hidden; */
  }
}

@media screen and (min-width: 777px) {
  .nav {
    height: clamp(min(89.32px), 11.51vw, max(221.00px));
  }

  .navContact {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 2vw;
  }
  .navContact-pair {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6vw;

    margin: 0;
  }
  .navContact-pairText{
    margin: 0;

    font-size: clamp(min(12px), 0.83vw, max(16.00px));
  }

  .navContact-pairEnvelopeSvg {
    width: clamp(min(13.74px), 1.77vw, max(34.00px));
    height: clamp(min(8.08px), 1.04vw, max(20.00px));
  }
  .navContact-pairPhoneSvg {
    width: clamp(min(7.68px), 0.99vw, max(19.00px));
    height: clamp(min(7.68px), 0.99vw, max(19.00px));
  }
  .navContact-pairLocationSvg {
    width: clamp(min(7.13px), 0.92vw, max(17.65px));
    height: clamp(min(9.09px), 1.17vw, max(22.50px));
  }
  .navContact-delimiterSvg {
    width: clamp(min(1.21px), 0.16vw, max(3.00px));
    height: clamp(min(15.36px), 1.98vw, max(38.00px));

    margin: 0 0.6vw;
  }

  .navCompanyMiddle {
    margin-top: 0.4vw;
  }
  .navCompanyMiddle-logo {
    display: flex;
    margin: auto;

    width: clamp(min(63.49px), 8.18vw, max(157.09px));
    height: clamp(min(29.08px), 3.75vw, max(71.94px));
  }
  .navCompanyMiddle-upperTitle {
    font-size: clamp(min(13.74px), 1.77vw, max(34.00px));
  }
  .navCompanyMiddle-lowerTitle {
    font-size: clamp(min(8.08px), 1.04vw, max(20.00px));
  }

  .navCompanyMenu {
    position: absolute;
    right: 32vw;
    margin-left: 3vw;
  }
  .navCompanyMenu-button {
    width: clamp(min(23.85px), 3.07vw, max(59.00px));
    height: clamp(min(15.76px), 2.03vw, max(39.00px));

    background-color: #444645;
    background-image: url("data:image/svg+xml,%3Csvg width='39' height='27' viewBox='0 0 39 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1.5' x2='39' y2='1.5' stroke='%2380A3C3' stroke-width='3'/%3E%3Cline y1='13.5' x2='39' y2='13.5' stroke='%2380A3C3' stroke-width='3'/%3E%3Cline y1='25.5' x2='39' y2='25.5' stroke='%2380A3C3' stroke-width='3'/%3E%3C/svg%3E%0A");
    background-size: contain;
    border: none;
  }
  .navCompanyMenu-elements {
    display: none;
    /* visibility: hidden; */
  }
}
