<div class="offer">
  <h1 class="offer-tittle app-hPower">OFERTA</h1>

  <div class="offer-subtittleContainer">
    <h2 class="offer-subtittleContainer_upper app-hSub">USŁUGI REMONTOWO-BUDOWLANE</h2>
    <h3 class="offer-subtittleContainer_lower">dla osób prywatnych jak i dla firm</h3>
  </div>

  <div class="offer-helper">
    <!-- Swiper implementation -->
    <swiper-container class="offerSwiperContainer" loop="true" autoplay-delay="3000" autoplay-disable-on-interaction="true">
      <swiper-slide class="offerSwiperSlide"><img class="swiperSlideImg" src="../../assets/galeria/8.jpg"></swiper-slide>
      <swiper-slide class="offerSwiperSlide"><img class="swiperSlideImg" src="../../assets/galeria/2.jpg"></swiper-slide>
      <swiper-slide class="offerSwiperSlide"><img class="swiperSlideImg" src="../../assets/galeria/5.jpg"></swiper-slide>
      <swiper-slide class="offerSwiperSlide"><img class="swiperSlideImg" src="../../assets/galeria/6.jpg"></swiper-slide>
    </swiper-container>

    <div class="offer-examples">
      <p class="offer-examples_example"><span class="colorAccent"><b>></b> </span>Usługi budowlane,  i sprzęt</p>
      <p class="offer-examples_example"><span class="colorAccent"><b>></b> </span>Budowa domów w stanie surowym
        i&nbsp;z&nbsp;wykończeniem&nbsp;(pod klucz)</p>
      <p class="offer-examples_example"><span class="colorAccent"><b>></b> </span>Obsługa budowy od projektu do zamieszkania</p>
      <p class="offer-examples_example"><span class="colorAccent"><b>></b> </span>Budowa garaży i budynków gospodarczych</p>
      <p class="offer-examples_example"><span class="colorAccent"><b>></b> </span>Wykonanie płyty fundamentowej
        i termopłyty</p>
      <p class="offer-examples_example"><span class="colorAccent"><b>></b> </span>Roboty ziemne</p>
      <p class="offer-examples_example"><span class="colorAccent"><b>></b> </span>Usługi transportowe</p>
      <p class="offer-examples_example"><span class="colorAccent"><b>></b> </span>Ocieplanie elewacji</p>
    </div>
  </div>
</div>
