<div class="offer">
  <h1 class="offer-tittle app-hPower">OFERTA</h1>

  <div class="offer-subtittleContainer">
    <h2 class="offer-subtittleContainer_upper app-hSub">USŁUGI REMONTOWO-BUDOWLANE</h2>
    <h3 class="offer-subtittleContainer_lower">dla osób prywatnych jak i dla firm</h3>
  </div>

  <div class="offer-helper">
    <!-- Swiper implementation -->
    <swiper-container autoplay-delay="3000" autoplay-disable-on-interaction="true">
      <swiper-slide class="colorAccent">Slide 1</swiper-slide>
      <swiper-slide class="colorAccent">Slide 2</swiper-slide>
      <swiper-slide class="colorAccent">Slide 3</swiper-slide>
    </swiper-container>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

    <div class="offer-examples">
      <p class="offer-examples_example"><span class="colorAccent">> </span>Usługi budowlane,  i sprzęt</p>
      <p class="offer-examples_example"><span class="colorAccent">> </span>Budowa domów w stanie surowym
        i z wykończeniem (pod klucz)</p>
      <p class="offer-examples_example"><span class="colorAccent">> </span>Obsługa budowy od projektu do zamieszkania</p>
      <p class="offer-examples_example"><span class="colorAccent">> </span>Budowa garaży i budynków gospodarczych</p>
      <p class="offer-examples_example"><span class="colorAccent">> </span>Wykonanie płyty fundamentowej
        i termopłyty</p>
      <p class="offer-examples_example"><span class="colorAccent">> </span>Roboty ziemne</p>
      <p class="offer-examples_example"><span class="colorAccent">> </span>Usługi transportowe</p>
      <p class="offer-examples_example"><span class="colorAccent">> </span>Ocieplanie elewacji</p>
    </div>
  </div>
</div>
