/* You can add global styles to this file, and also import other style files */

/* Import of 'Quando' & 'Questrial' font */
@import url("https://fonts.googleapis.com/css2?family=Quando&family=Questrial&display=swap");
/*
CSS rules to specify families
font-family: 'Quando', serif;
font-family: 'Questrial', sans-serif;
*/

.colorAccent {
  color: #398EE0;
}

.app-hPower {
  font-family: 'Questrial', sans-serif;
  font-weight: 200;
}
.app-hSub {
  font-family: 'Questrial', sans-serif;
  font-weight: 200;
}

body {
  max-width: 1920px;

  margin: 0;
  padding: 0;

  margin: auto;

  color: #fff;
  font-family: 'Questrial', sans-serif;
}

@media screen and (max-width: 776px) {
  .app-hPower {
    font-size: clamp(min(14.00px), 3.89vw, max(30.18px));
  }
  .app-hSub {
    font-size: clamp(min(10.00px), 3.33vw, max(25.87px));
  }
}

@media screen and (min-width: 777px) {
  .app-hPower {
    font-size: clamp(min(25.87px), 3.33vw, max(64.00px));
  }
  .app-hSub {
    font-size: clamp(min(14.55px), 1.88vw, max(36.00px));
  }
}
